/* CSS files add styling rules to your content */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background: url("https://images.pexels.com/photos/7109/laptop-notebook-clean-hero.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); 
  /*background: url("https://images.pexels.com/photos/7100/iphone-desk-laptop-notebook.jpg?auto=compress&cs=tinysrgb&dpr=2&w=500");*/
  /*background-size: cover;*/
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed;
  background-height: 500px;
}

.nav {
  background-color: #303030;
  opacity: 0.6;
}

.nav ul {
  text-align: center;
}

.nav li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
  /*font-size: 16px;*/
  text-align: center;
  letter-spacing: .1em;
  font-weight: 400;
  text-transform: uppercase;
}

.nav li a{
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
}
.nav li:hover {
  background-color: rgba(255,255,255,.6);
  color: white;
}

.div {
  padding: 50px;
  height: 600px;
  line-height: 1.6;
  color: #757575;
  text-align: center;
  font-weight: 300;
}

.intro {
  margin-top: 175px;
  font-weight: 500;
  color: #262626;
  text-shadow: #262626;
  /* color: #80ffff;
  text-shadow: #80ffff; */
  font-size: 22px;
}

/* ABOUT ME SECTION */

.about-me {
background: #ffffff; 
}
.about-me-container {
display: flex;
justify-content: center;
}
.headshot {
  background-image: url("./images/iFLY\ Loudon\ Mar\ 23\ 2019\ 836am\ copy.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  width: 300px;
  border-radius: 100px;
  margin-top: 50px;
  margin-right: 300px;
}
.about-me-writeup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  margin-top: 50px;
  font-weight: 400;
}

/* PROJECTS SECTION */

.portfolio {
  background: #f7f7f7; 
}
.projects-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 30px;
  }
.project {
  border: 1px solid gray;
  width: 300px;
  height: 300px;
}

/* SKILLS SECTION */

.skills {
  background: #ffffff;
}

.testimonials {
  background: #f7f7f7; 
  }

h2 {
  font-size: 42px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
}

section {
  display: inline;
  width: 33%;
  margin: 30px 50px;
}

.skills li {
  list-style-type: none;
}

/* TESTIMONIALS */

.quotes {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.quote-1, .quote-2 {
background-color: #757575;
color: white;
width: 500px;
padding: 20px;
border-radius: 5px;
}

/* FOOTER */

/* footer {
  background-color: #303030;
  height: 150px;
  padding: 50px;
  font-weight: 400;
  font-size: 18px;
  margin: 0 auto;
  border: 3px solid red;
}
button {
  padding: 10px;
  height: 40px;
  margin: 0 auto;
  border: 3px solid red;
}
.resume-button {
  font-size: 16px;
  margin: 0 auto;
  background-color: #757575;
}
a {
  text-decoration: none;
  color: blue;
  color-shadow: white;
} */